@model DORv3.Models.ViewModels.NU_ReportViewModel

@{
    ViewBag.Title = "TEST TEST TEST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NuReport_TEST</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        @{
            var grid = new WebGrid(Model.NU_Records,
                                  canSort: false,
                                  canPage: false
                                  );
        }
        @grid.GetHtml()

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
