
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUser</h2>

@Html.Label("emailUsername", "newuser@fowlerholding.com")<br /><br />
@Html.Label("userPassword", "Password")<br /><br />
@Html.TextBox("Dealerships", "What Dealerships do they belong to?")<br /><br />
@Html.TextBox("Roles", "What Roles do they have for each dealershp?")<br /><br />